/* Header: Green
----------------------------------------------------------------------------------------------------*/

#headerbar { background: url(../../images/header/green/headerbar.png) 0 0 repeat; }
#headerbar > div {
	background: url(../../images/header/green/headerbar_t.png) 0 0 repeat-x;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#headerbar > div > div { background: url(../../images/header/headerbar_b.png) 0 100% repeat-x; }

#headerbar a:hover { color: #f0fec2; }