/* Page */
.demo-container {width: 190px; float: left; margin: 0 5px 5px 0;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}

/* Drill Down Menu Styles */
.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {margin: 0; padding: 0; list-style: none;}
.dd-wrapper .dd-menu {overflow: hidden; position: relative;}
.dd-wrapper  .dd-menu ul {margin: 0; position: absolute; top: 0; right: 0;}
.dd-wrapper .dd-menu a {display: inline-block;}