<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Education 2</title>
<style type="text/css">

td img {display: block;}
.es {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999900;
}
body {
	background-color: #EBECEA;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

h1{color:#E4EAF1;text-align:left;font-size:18px;}
h2{color:#D1DAF1 !important; font-weight:bold; font-size:14px;}
h3{ font-size: 16px;font-weight: bold;color: #D1DAF1 !important;}

.acymailing_readmore{color:#0099FF;}
.acymailing_online{color: #5C5C5C;font-weight: bold;}
.acymailing_unsub{color:#5C5C5C;font-weight: bold;}

</style>
</head>

<body>
<div style="background-color:#EBECEA;text-align:center">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;color:#DDDDDB; text-align:left;">
    
	 <tr>
      <td width="600" height="42" valign="top"> <div align="center" style="font-size: 12px; text-align:center;color: #5C5C5C;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}. </div></td>
    </tr>
    <tr>
      <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="600">
        
       
          <tr>
            <td width="175" style="background-color:#3F3F3F;"><img name="header_r1_c1" src="header_r1_c1.png" width="175" height="134" border="0" id="header_r1_c1" alt="" /></td>
            <td width="339" valign="top" style="background-color:#3F3F3F;"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#3F3F3F;">
              
              <tr>
                <td width="339" height="30">&nbsp;</td>
                </tr>
              <tr>
                <td valign="top" style="background-color:#3F3F3F;"><h1>TITLE NAME <br />
                  COMPANY SLOGAN </h1></td>
              </tr>
            </table>
            </td>
            <td width="86"><img name="header_r1_c3" src="header_r1_c3.png" width="86" height="134" border="0" id="header_r1_c3" alt="" /></td>
          </tr>
        
            </table></td>
    </tr>
    <tr>
      <td valign="top">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#3F3F3F;">
        
        <tr>
          <td width="15" height="10"></td>
            <td width="197"></td>
            <td width="68"></td>
            <td width="17"></td>
            <td width="46"></td>
            <td width="18"></td>
            <td width="224"></td>
            <td width="15"></td>
          </tr>
        <tr>
          <td width="15" ></td>
            <td width="585" colspan="7" valign="top" style="text-align:left;">
            <h3>DEAR {subtag:name},</h3><img src="linea.png" width="197" height="19"  alt="" /></td>
          </tr>
        <tr>
          <td width="15">&nbsp;</td>
            <td width="328" colspan="4" valign="top" style="color:#DDDDDB; text-align:left;">
			<p>Su uso se amet, consectetuer adipiscing elit. Sed risus no.<br />
                Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop<br />
                sed, dolor. Elementum cras ultrices diam. Mecenas ligula massa, varius<br />
                un congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy<br />
                molestie, est enim eleifend mi, no nisl di&aacute;metro fermentum sentarse erat amet.<br />
            Duis sempre. </p>              <p><img src="btn_readMore.png" width="80" height="22"  alt="" /></p></td>
            <td width="18">&nbsp;</td>
			<td width="239" colspan="2" valign="top" style="text-align:right"><img src="img1.png" width="239" height="191"  alt="" /></td>
          </tr>
		 <tr>
			<td width="15"></td>
			<td width="585" colspan="7"><img src="lineaDiscontinua.png" width="570" height="19"  alt="" /></td>
		 </tr>
        <tr>
          <td width="15"></td>
            <td width="265" colspan="2" valign="top" style=" font-size:12px; color:#DDDDDB; text-align:left;"><p><span style="font-weight:bold;">Su uso se amet, consectetuer adipiscing elit. Sed risus no.</span><br />
              Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop<br />
            sed, dolor. Elementum cras ultrices diam.</p>            <p><img src="btn_readMore.png" width="80" height="22"  alt="" /></p></td>
            <td width="17" >&nbsp;</td>
            <td width="288" colspan="3" valign="top" style=" font-size:12px; color:#DDDDDB; text-align:left;"><p><img src="img2.png" width="100" height="76" align="right"  alt="" /><span style="font-weight:bold;">Su uso se amet, consectetuer adipiscing elit. Sed risus no.</span><br />
                Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop<br />
            sed, dolor. Elementum cras ultrices diam.</p>              <p><img src="btn_readMore.png" width="80" height="22"  alt="" /></p></td>
            <td width="15"></td>
          </tr>
        <tr>
          <td width="15"></td>
            <td width="570" colspan="6" valign="top" style=" font-size:12px; color:#DDDDDB; text-align:left;">
			<img src="lineaDiscontinua.png" width="570" height="19"  alt="" /><br/>
			<p><img src="img3.png" width="100" height="76" align="right"  alt="" /><span style="color:#D1DAF1; font-weight:bold;">Duis massa arcu, scelerisque vitae, en consequat, pretium uno,<br />
              enim. congue pellentesque.</span> Ut en tempor pharetra risus volutpat l&iacute;bero.</p>
              <p>vest&iacute;bulo cras bibendum augue. Praesent egestas leo en pede. Praesent<br />
              blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.</p>
              <p>Ipsum primis vest&iacute;bulo ante en faucibus Orci luctus et ultrices posuere<br />
                cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque<br />
              fermentum.</p>
              <p>Mecenas adipiscing ante sodales di&aacute;metro no hendrerit. Ut velita<br />
            mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa</p>            <p><img src="btn_readMore.png" width="80" height="22"  alt="" /></p></td>
            <td width="15"></td>
          </tr>
        <tr>
          <td width="15"></td>
            <td width="570" colspan="6" valign="top" style=" font-size:12px; color:#DDDDDB; text-align:left;">
			<img src="lineaDiscontinua.png" width="570" height="19"  alt="" /><br/>
			<p><img src="btn_support.png" width="185" height="73" align="right"  alt="" />Duis massa arcu, scelerisque vitae, en consequat, pretium uno,<br />
              enim. congue pellentesque. Ut en tempor pharetra risus volutpat l&iacute;bero.<br />
              vest&iacute;bulo cras bibendum augue. </p>            <p><img src="btn_readMore.png" width="80" height="22"  alt="" /><br />
            </p></td>
            <td width="15"></td>
          </tr>
        <tr>
          <td width="15"></td>
            <td width="570" colspan="6" valign="top" style=" font-size:12px; color:#DDDDDB; text-align:left;"><h2>LOREP IPSUM DOLOR</h2>
              <p><span style="color:#D1DAF1; font-weight:bold;">Praesent egestas leo en pede. Praesent<br />
                blandit odio enim eu.</span> Pellentesque sed ut dui augue sodales blandit. Ipsum primis vest&iacute;bulo ante en faucibus Orci luctus et ultrices posuere cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque<br />
                fermentum. Mecenas adipiscingante sodales di&aacute;metro no hendrerit. Ut velita<br />
                mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa<br />
            pulvinar suscipit. </p>            <p><img src="btn_readMore.png" width="80" height="22"  alt="" /></p></td>
            <td width="15"></td>
          </tr>
      
            </table></td>
    </tr>
    <tr>
      <td valign="top"><img src="footer.png" width="600" height="48"  alt="" /></td>
    </tr>
    <tr>
      <td height="32">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><div style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe} </div></td>
    </tr>
  </table>
</div>
</body>
</html>
