<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kampanya</title>

<style type="text/css">
<!--
body {
	background-color: #D5D7D2;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
h2{	font-size: 12px; font-weight: bold;	color: #666666 !important;}
h1{font-size:16px;color:#666666; text-align:left;margin:10px;}
h3{font-size: 16px;font-weight: bold;color: #CC3300 !important;margin:10px 5px;}

.acymailing_online{color: #000000;font-weight: bold;}
.acymailing_unsub{color: #000000;font-weight: bold;}

-->
</style></head>


<body>
<div style="background-color:#D5D7D2;text-align:center;width:100%">
  <table width="500" border="0" cellpadding="0" cellspacing="0" style="margin:auto;text-align:left" align="center">
 
    <tr>
      <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;color: #E8E9E0;">
        
        <tr> 
	<tr>
      <td width="500" height="42" valign="top"> <div align="center" style="font-size: 12px; text-align:center;">
      This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}. </div></td>
    </tr>

	<td width="500" valign="100" valign="bottom" style="background-color:#D5D7D2;line-height:0px;"><img src="ust.jpg" width="500" height="100"  alt="" /></td>
<tr></tr>
          <td width="500" valign="386" valign="bottom" style="background-color:#D5D7D2;line-height:0px;"><img src="orta.jpg" width="500" height="386"  alt="" /></td>
<tr></tr>
		  <table width="487" border="0" cellpadding="0" cellspacing="0" style="margin:auto;text-align:left" align="center">
          <td width="164" valign="100" valign="bottom" style="background-color:#D5D7D2;line-height:0px;"><img src="telefon.jpg" width="164" height="100"  alt="" /></td>
		  <td width="138" valign="100"  valign="bottom" style="background-color:#D5D7D2;line-height:0px;"><img src="telyani.jpg" width="138" height="100"  alt="" /></td>
		  <td width="191" valign="99"  valign="bottom" style="background-color:#D5D7D2;line-height:0px;"><img src="facebook.jpg" width="199" height="46"  alt="" /><img src="tweeter.jpg" width="199" height="54"  alt="" /></td>	</table>
 <tr>
      <td width="500" height="42">&nbsp;</td>
    </tr>
    <tr>
      <td width="500" valign="top"><div align="center" style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</div></td>
    </tr>
  </table>
</div>
</body>
</html>