/* -- TOOLBAR STYLES ----------------------------- */

/* Page titles */
div.pagetitle {
  background-repeat: no-repeat;
}

div.pagetitle h2 {
  line-height: 48px;
  font-size: 2em;
  font-weight: bold;
  color: #146295;
  margin: 0;
  padding: 0;
}

div.pagetitle span {
  color: #666;
}

/* Modal header */
div.configuration {
  font-size: 1.364em;
  font-weight: bold;
  color: #146295;
  padding-left: 30px;
  margin-left: 10px;
  padding-top: 4px;
  background: url(../images/menu/icon-16-config.png) 0 6px no-repeat;
}

/* Main toolbars */
div.toolbar-list {
  float: right;
  text-align: right;
  padding: 0;
}

div.toolbar-list ul {
  margin: 0;
  padding: 0;
}

div.toolbar-list li {
  padding: 1px 1px 3px 4px;
  text-align: center;
  color: #666;
  height: 48px;
  list-style: none;
  float: left;
}

div.toolbar-list li.spacer {
  width: 10px;
}

div.toolbar-list li.divider {
  border-right: 1px solid #c7c7c7;
  width: 2px;
}

div.toolbar-list span {
  float: none;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  display: block;
}

div.toolbar-list li a {
  display: block;
  float: left;
  white-space: nowrap;
  border: 1px solid #F4F4F4;
  padding: 1px 5px;
  cursor: pointer;
}

div.toolbar-list li a:hover,
div.toolbar-list li a:focus,
div.toolbar-list li a:active {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #0B55C4;
}

.toolbar-inactive {
  background-position: 0 32px;
}