@import url(../warp/css/rtl.css);


/* Layout
----------------------------------------------------------------------------------------------------*/

#sidebar-a,
#sidebar-b { background-position: 100% 0; }

.sidebar-a-left #sidebar-a,
.sidebar-b-left #sidebar-b { background-position: 0 0; }

#footer { text-align: right; }

#totop-scroller {
	right: auto;
	left: 20px;
}


/* Menus
----------------------------------------------------------------------------------------------------*/

/* Mega Drop-Down Menu */

.menu-dropline,
.menu-dropline .level1,
.menu-dropline .level1 > span,
.menu-dropline .level2,
.menu-dropline .level2 > span { float: right; }

.menu-dropline .dropdown {
 	left: auto;
 	right: 0;
}

.menu-dropline .column,
.menu-dropline span.icon { float: right; }

.menu-dropline span.icon + span,
.menu-dropline span.icon + span + span { 
	margin-left: 0;
	margin-right: 35px;
}

.menu-dropline li.level1 { background-position: 100% 0; }

.menu-dropline ul.level2 {
	left: 0;
	right: 10px;
}

.menu-dropline .dropdown-bg > div {
	-moz-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;
}

.menu-dropline .level1 .level1 span.icon {
	margin-left: 0;
	margin-right: -5px;
}

.menu-dropline .level1 .level1 span.icon + span,
.menu-dropline .level1 .level1 span.icon + span + span {
	margin-left: 0;
	margin-right: 25px;
}

.menu-dropline li.level2 .level2 span.icon {
	margin-left: 4px;
	margin-right: -5px;
}

.menu-dropline li.level2 .level2 span.icon + span,
.menu-dropline li.level2 .level2 span.icon + span + span { 
	margin-left: 0;
	margin-right: 34px;
}

/* Sidebar/Accordion Menu */
.menu-sidebar li.parent .level1 > span { background-position: 0 0; }
.menu-sidebar li.parent.active .level1 > span { background-position: 0 -100px; }

.menu-sidebar ul.level2 {
	padding-left: 10px;
	padding-right: 20px;
}

.menu-sidebar .level2 a,
.menu-sidebar .level2 li > span {
	padding-left: 25px;
	padding-right: 0;
	background-position: 0 0;
	background-image: url(../images/rtl/menu_sidebar_level2.png);
}

.menu-sidebar ul.level2 a:hover,
.menu-sidebar ul.level2 li > span:hover { background-position: 0 -80px; }

.menu-sidebar ul.level2 a.current,
.menu-sidebar ul.level2 li > span.current { background-position: 0 -160px; }

.menu-sidebar ul.level2 ul { 
	padding-left: 0;
	padding-right: 10px;
}

.mod-black .menu-sidebar li.parent .level1 > span,
.mod-color .menu-sidebar li.parent .level1 > span { background-image: url(../images/rtl/menu_sidebar_level1_parent_black.png); }

.mod-black .menu-sidebar .level2 a,
.mod-color .menu-sidebar .level2 a,
.mod-black .menu-sidebar .level2 li > span,
.mod-color .menu-sidebar .level2 li > span { background-image: url(../images/rtl/menu_sidebar_level2_black.png); }

/* Line Menu */
.menu-line li {
	margin-left: 0;
	padding-left: 0;
	margin-right: 7px;
	padding-right: 8px;
}

.menu-line li:first-child {
	margin-right: 0;
	padding-right: 0;
}

.menu-line li a { 
	padding-left: 0;
	padding-right: 16px;
	background-position: 100% 0;
}

.menu-line li a:hover { background-position: 100% -90px; }

#toolbar .menu-line li a { background-position: 100% 4px; }
#toolbar .menu-line li a:hover { background-position: 100% -86px; }


/* Modules
----------------------------------------------------------------------------------------------------*/

.module .badge { background-image: url(../images/rtl/module_badges.png); }

.mod-black .badge,
#bottom-a .mod-box .badge,
#bottom-a .mod-line .badge,
#bottom-b .mod-box .badge,
#bottom-b .mod-line .badge { background-image: url(../images/rtl/module_badges_black.png); }

.grid-h .mod-box,
.grid-h .mod-black,
.grid-h .mod-color,
.grid-h .mod-line {
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
}

.grid-h:first-child .mod-box,
.grid-h:first-child .mod-black,
.grid-h:first-child .mod-color { border-right: none; }

#bottom-a .mod-line,
#bottom-b .mod-line {
	border-right: none;
	background-position: 100% 0;
}

#page .grid-h:first-child .mod-line { border-right: none; }

/* Tools
----------------------------------------------------------------------------------------------------*/

/* Line Icon List */
ul.line-icon > li {
	padding-left: 0;
	padding-right: 20px;
	background-position: 
		0 0,
		100% 0;
}

#page ul.line-icon li:hover {
	background-position:
		100% 0,
		100% -200px;
}

/* Check List */
ul.check > li {
	padding-left: 0;
	padding-right: 30px;
	background-position: 100% 0;
}

/* Definition Lists */
dl.separator dd { border-width: 0 1px 0 0; }

dl.separator dt:before {
	right: auto;
	left: -15px;
}

dl.separator dt:after {
	right: auto;
	left: -3px;
}

/* Social Icons */
.social-icons li {
	margin-left: 6px;
	margin-right: 0;
	float: right;
}

.social-icons li a { float: right; }

	
/* System
----------------------------------------------------------------------------------------------------*/

#system .item > header time {
	left: auto;
	right: 0;
}

#system .item time + h1.title,
#system .item time + h1.title + p.meta {
	margin-left: 0;
	margin-right: 44px;
}

#system .item > .links a {
	padding-left: 6px;
	padding-right: 20px;
	background-position: 100% 0;
}

#system .item > .links a:hover { background-position: 100% -40px; }

#system .pagination { text-align: right; }

#system .pagination .previous,
#system .pagination .next { background-image: url(../images/rtl/pagination.png); }

/* Search Box */
.searchbox {
	left: 10px;
	right: auto;
	padding: 0 30px 0 25px;
	background-image: url(../images/rtl/searchbox.png);
}

.searchbox .results {
	right: auto;
	left: -10px;
}

.searchbox .results li.more-results {
	padding-left: 0;
	padding-right: 20px;
	background: url(../images/rtl/searchbox_results_more.png) 100% 0 no-repeat;
}

/* Breadcrumbs */

.breadcrumbs a,
.breadcrumbs > span,
.breadcrumbs > strong {
	margin-left: 13px;
	margin-right: 0;
	padding-left: 0;
	padding-right: 14px;
	background-position: 100% 50%;
}

.breadcrumbs *:first-child { padding-right: 0; }