/* Background: Glitter Green
----------------------------------------------------------------------------------------------------*/

body#page { background: #677334; }

#page-bg { background: url(../../images/background/glitter_green/page.png) 50% 0 repeat-y; }

@media only screen and (min-device-width: 769px) {

	body#page { 
		background: #677334 url(../../images/background/glitter_green/gradient.svg) 50% 0 no-repeat fixed;
		background-size: 100% 1500px;
	}

	.wrapper {
		-moz-box-shadow:
			0 0 5px rgba(0,0,0,0.4),
			0 0 100px rgba(215,230,150,0.6);
		-webkit-box-shadow:
			0 0 5px rgba(0,0,0,0.4),
			0 0 200px rgba(215,230,150,0.6);
		box-shadow:
			0 0 5px rgba(0,0,0,0.4),
			0 0 100px rgba(215,230,150,0.6);
	}
	
}